<div class="col-md-8 col-md-offset-2" >

    <form ng-submit="save()" class="form-horizontal" novalidate>


    <div class="panel panel-default" >
        <div class="panel-heading" >
            <span ng-if="mode == 'create'">Create</span>
            <span ng-if="mode == 'update'">Update</span>

            <div class="pull-right">
                    <button class="btn btn-primary btn-sm "
                            ladda="contacts.isSaving"
                            type="submit" >Save
                    </button >
                    <button class="btn btn-danger btn-sm "
                            ladda="contacts.isDeleting"
                            ng-if="mode == 'udpate'"
                            ng-click="remove()" >Delete
                    </button >
            </div>
            <div class="clearfix" ></div >

        </div >
        <div class="panel-body" >
            <ng-include src="'templates/form.html'" ></ng-include >
        </div >
    </div >
    </form>
</div >